name: build core

on: 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Клонирование репозитория sing-box
        run: git clone https://github.com/SagerNet/sing-box.git 

      - name: сборка sing-box
        run: 
          cd sing-box |
          make build
