name: build core

on: 
  push: 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
        with:
          repository: 'SagerNet/sing-box'
          submodules: 'recursive'
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: 1.25.6

      - name: Setup NDK
        uses: nttld/setup-ndk@v1.5.0
        id: setup-ndk
        with:
          ndk-version: r28

      - name: Setup JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set build tags
        run: |
          set -xeuo pipefail
          TAGS=''
          echo "BUILD_TAGS=${TAGS}" >> "${GITHUB_ENV}"

      - name: сборка sing-box
        run: |
          make lib_install
          export PATH="$PATH:$(go env GOPATH)/bin"
          make lib_android    
        env:
          JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Загрузка артифактов
        uses: actions/upload-artifact@v6.0.0
        with:
          name: android
          path: libbox.aar
