name: build core

on: 
  push: 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Клонирование репозитория sing-box
        run: git clone https://github.com/SagerNet/sing-box.git 

      - name: check
        run: ls

      - name: открыть директорию sing-box
        run: cd sing-box
      
      - name: check
        run: ls

       - name: открыть директорию sing-box
        run: cd sing-box
      
      - name: check
        run: ls
