name: build core

on: 
  push: 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
        with:
          repository: 'SagerNet/sing-box'
          ref: 'refs/tags/latest'
          submodules: 'recursive'
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: ^1.25.5

      - uses: nttld/setup-ndk@v1.5.0
        with:
          ndk-version: r28

      - name: Setup OpenJDK
        run: sudo apt update && sudo apt install -y openjdk-17-jdk-headless

      - name: Set build tags
        run: |
          set -xeuo pipefail
          TAGS='with_gvisor,with_quic,with_dhcp,with_wireguard,with_utls,with_acme,with_clash_api,with_tailscale'
          echo "BUILD_TAGS=${TAGS}" >> "${GITHUB_ENV}"

      - name: сборка sing-box
        run: |
          make lib_install
          export PATH="$PATH:$(go env GOPATH)/bin"
          make lib_android    
    
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: linux
          path: sing-box

      
