name: build core

on: 
  push: 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target: [android, linux]

    steps:
      - uses: actions/checkout@v6.0.2
        with:
          repository: 'SagerNet/sing-box'
          submodules: 'recursive'
          fetch-depth: 0

      - name: Setup Go
        if: matrix.target == 'android'
        uses: actions/setup-go@v6.2.0
        with:
          go-version: 1.25.6

      - name: Setup NDK
        if: matrix.target == 'android'
        uses: nttld/setup-ndk@v1.5.0
        id: setup-ndk
        with:
          ndk-version: r28

      - name: Setup JDK
        if: matrix.target == 'android'
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set build tags
        run: |
          set -xeuo pipefail
          TAGS=''
          echo "BUILD_TAGS=${TAGS}" >> "${GITHUB_ENV}"

      - name: android build
        if: matrix.target == 'android'
        run: |
          make lib_install
          export PATH="$PATH:$(go env GOPATH)/bin"
          make lib_android
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: linux build
        if: matrix.target == 'linux'
        run: make build

      - name: Загрузка артифактов
        uses: actions/upload-artifact@v6.0.0
        with:
          name: sing-box-${{ matrix.target }}
          path: ${{ matrix.target == 'android' && 'libbox.aar' || 'sing-box' }}
