name: build core

on: 
  push: 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Клонирование репозитория sing-box
        run: git clone https://github.com/SagerNet/sing-box.git 

      - uses: actions/setup-go@v6.2.0    
        
      - name: сборка sing-box
        working-directory: sing-box
        run: make lib_android    
    
      - uses: actions/upload-artifact@v6.0.0
        with:
          name: linux
          path: sing-box

      
