name: build core

on: 
  push: 
  workflow_dispatch: 

permissions:
  contents: write

env:
  TAGS: >-
    with_utls,with_gvisor
    

jobs:
  build_android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
        with:
          repository: 'SagerNet/sing-box'
          submodules: 'recursive'
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: 1.25.6

      - name: Setup NDK
        uses: nttld/setup-ndk@v1.5.0
        id: setup-ndk
        with:
          ndk-version: r28

      - name: Setup JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: build
        run: |
          make lib_install
          export PATH="$PATH:$(go env GOPATH)/bin"
          make lib_android
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Загрузка артифактов
        uses: actions/upload-artifact@v6.0.0
        with:
          name: sing-box-android
          path: 'libbox.aar' 

  build_linux:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          repository: 'SagerNet/sing-box'
          submodules: 'recursive'
          fetch-depth: 0
  
      - name: build
        run: |
          CGO_ENABLED=0 
          GOOS=linux
          GOARCH=amd64
          make build
  
      - name: Загрузка артифактов
        uses: actions/upload-artifact@v6.0.0
        with:
          name: sing-box-linux
          path: 'sing-box'
                
                  
  build_windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6.0.2
        with:
          repository: 'SagerNet/sing-box'
          submodules: 'recursive'
          fetch-depth: 0
          
      - name: build
        shell: pwsh
        run: |
          $env:CGO_ENABLED="0"
          $env:GOOS="windows"
          $env:GOARCH="amd64"
          make build

      - name: Загрузка артифактов
        uses: actions/upload-artifact@v6.0.0
        with:
          name: sing-box-windows
          path: 'sing-box.exe'

  publish_release:
    name: Publish Release
    needs: [build_android, build_linux, build_windows]
    runs-on: ubuntu-latest

    steps:
      - name: Скачать все артефакты
        uses: actions/download-artifact@v5
        with:
          path: dist
          merge-multiple: true

      - name: Показать файлы (проверка)
        run: ls -R dist

      - name: Упаковать файлы в архивы
        run: |
          mkdir -p release
          zip -9 release/libbox-android.zip dist/libbox.aar
          zip -9 release/sing-box-linux.zip dist/sing-box
          zip -9 release/sing-box-windows.zip dist/sing-box.exe  

      - name: Создать GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: build-${{ github.run_number }}
          name: build-${{ github.run_number }}
          generate_release_notes: true
          files: |
            release/libbox-android.zip
            release/sing-box-linux.zip
            release/sing-box-windows.zip

