name: build core

on: 
  push: 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Клонирование репозитория sing-box
        run: git clone https://github.com/SagerNet/sing-box.git 

      - name: первый способ перейти в рабочую директорию
        run: |
          cd sing-box
          ls

      - name: второй способ перейти в рабочую директорию
        working-directory: sing-box
        run: |
          ls
