name: Release Android Library

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Git tag sing-box (например v1.12.19)"
        required: true
        type: string

permissions:
  contents: write
  actions: write

jobs:
  build_android:
    name: Build Android
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sing-box
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          repository: 'SagerNet/sing-box'
          ref: ${{ github.event.inputs.tag }}
          submodules: 'recursive'
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25.5

      - name: Setup Android NDK
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r28

      - name: Setup OpenJDK
        run: |
          sudo apt update && sudo apt install -y openjdk-17-jdk-headless

      - name: Set build tags (можно менять под себя)
        run: |
          echo "BUILD_TAGS=with_quic,with_utls" >> $GITHUB_ENV

      - name: Clean previous builds
        run: |
          rm -f libbox.aar
          rm -rf artifacts
          mkdir -p artifacts

      - name: Build Android library
        run: |
          make lib_install
          export PATH="$PATH:$(go env GOPATH)/bin"

          make lib_android

          if [ ! -f "libbox.aar" ]; then
            echo "libbox.aar не найден!"
            exit 1
          fi

          zip -ry artifacts/libbox-android.aar.zip libbox.aar

        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
          CGO_ENABLED: "1"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: libbox-android
          path: artifacts
          retention-days: 3
